## 환경 변수
.env

## cache

*.__pycache__
__pycache__

## data 파일
data
ml-100k
Marvel+Graph
Marvel+Names
dataset
*.db

## 제출 파일
submission.csv

## 시각화 파일
*.png

## 가상환경
vllm-env

## 모델
lora_squad_results